[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = /home/pfa/.ssh/key-devops.pem
host_key_checking = False

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes -o StrictHostKeyChecking=no
