cat > ~/dev/ansible/ansible.cfg << 'EOF'
[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = /home/pfa/.jenkins/.ssh/key-devops.pem
host_key_checking = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="ssh -i /home/pfa/.jenkins/.ssh/key-devops.pem -W %h:%p -o StrictHostKeyChecking=no ubuntu@35.83.29.151"
EOF